@using DataAccess.Model.AdminDashboard
@model IEnumerable<UpgradeRequest>

@{
    ViewData["Title"] = "Index"; ;
}

<h1>Upgrade Requests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestingUserDisplayName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (UpgradeRequest item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingUserDisplayName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UpgradeRequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UpgradeRequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UpgradeRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>